<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parent Dashboard</title>
  <link rel="stylesheet" href="/teachers.css">
</head>
<body>

   <!-- Navbar section -->
  <div class="navbar">
    <h1>Parent Dashboard</h1>
    <% if (userRole === 'admin') { %>
    <ul>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/teachers">Teachers</a></li>
      <li><a href="/parents">Parents</a></li>
    </ul>
    <% } else { %>
      <!-- Nothing -->
      <% } %>
  </div>
  
  <div class="wrapper">
    <div class="title">CLASSES</div>
    <div class="content">
      <a href="/primary-one-subjects-select-parents" class="button-link"><button>PRIMARY ONE</button></a>
      <a href="/primary-two-subjects-select-parents" class="button-link"><button>PRIMARY TWO</button></a>
      <a href="/primary-three-subjects-select-parents" class="button-link"><button>PRIMARY THREE</button></a>
      <a href="/primary-four-subjects-select-parents" class="button-link"><button>PRIMARY FOUR</button></a>
    </div>
  </div>
</body>
</html>
