<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parent Dashboard</title>
  <link rel="stylesheet" href="/teachers.css">
</head>
<body>
  <div class="wrapper">
    <div class="title">Parent Dashboard</div>
    <div class="content">
      <a href="/primary-one-subjects-select-parents" class="button-link"><button>PRIMARY ONE</button></a>
      <a href="/primary-one-subjects-select-parents" class="button-link"><button>PRIMARY TWO</button></a>
      <a href="/primary-one-subjects-select-parents" class="button-link"><button>PRIMARY THREE</button></a>
      <a href="/primary-one-subjects-select-parents" class="button-link"><button>PRIMARY FOUR</button></a>
    </div>
  </div>
</body>
</html>
