<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parent Dashboard</title>
  <link rel="stylesheet" href="/parents.css">
</head>
<body>
  <div class="wrapper">
    <div class="title">Parent Dashboard</div>
    <div class="content">
      <button>PRIMARY ONE</button>
      <button>PRIMARY TWO</button>
      <button>PRIMARY THREE</button>
      <button>PRIMARY FOUR</button>
    </div>
  </div>
</body>
</html>
