<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Primary Three</title>
  <link rel="stylesheet" href="/primary-one.css">
</head>
<body>
  <div class="wrapper">
    <div class="title">Select Subject</div>
    <div class="content">
      <a href="/upload-math-primary-three" class="button-link"><button>MATHEMATICS</button></a>
      <a href="/upload-eng-primary-three" class="button-link"><button>ENGLISH</button></a>
      <a href="/upload-sci-primary-three" class="button-link"><button>SCIENCE</button></a>
      <a href="/upload-sst-primary-three" class="button-link"><button>SOCIAL STUDIES</button></a>
    </div>
  </div>
</body>
</html>