<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Primary Three</title>
  <link rel="stylesheet" href="/teachers.css">
</head>
<body>

  <!-- Navbar section -->
  <div class="navbar">
    <h1>Teacher Dashboard</h1>
    <% if (userRole === 'admin') { %>
    <ul>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/teachers">Teachers</a></li>
      <li><a href="/parents">Parents</a></li>
    </ul>
    <% } else { %>
      <!-- Nothing -->
      <% } %>
  </div>

  <div class="wrapper">
    <div class="title">Select Subject</div>
    <div class="content">
      <a href="/subjectresources-primary-three-math" class="button-link"><button>MATHEMATICS</button></a>
      <a href="/subjectresources-primary-three-eng" class="button-link"><button>ENGLISH</button></a>
      <a href="/subjectresources-primary-three-sci" class="button-link"><button>SCIENCE</button></a>
      <a href="/subjectresources-primary-three-sst" class="button-link"><button>SOCIAL STUDIES</button></a>
    </div>
  </div>
</body>
</html>