<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if (userRole === 'admin') { %>
    <title>Admin Dashboard</title>
<% } else if (userRole === 'teacher') { %>
  <title>Teacher Dashboard</title>
<% } else { %>
  <title>Parent Dashboard</title>
<% } %>   
  <link rel="stylesheet" href="/subjectresources.css">
</head>
<body>
  <!-- Navbar section -->
  <div class="navbar">
    <h1>Parent Dashboard</h1>
    <% if (userRole === 'admin') { %>
    <ul>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/teachers">Teachers</a></li>
      <li><a href="/parents">Parents</a></li>
    </ul>
    <% } else { %>
      <!-- Nothing -->
      <% } %>
  </div>

  <!-- Dashboard content section -->
  <div class="wrapper">
    <div class="title">ENGLISH</div>
    <div class="content">
      <a href="" class="button-link"><button>PUZZLES</button></a>
      <a href="" class="button-link"><button>DISCUSSION BOARDS</button></a>
      <a href="" class="button-link"><button>LIVE Q&A SESSIONS</button></a>
      <a href="" class="button-link"><button>PRACTICE TESTS</button></a>
      <a href="/download-eng-primary-three" class="button-link"><button>HOMEWORK</button></a>
      <a href="" class="button-link"><button>RESOURCES LIBRARY</button></a>
      <a href="" class="button-link"><button>PROGRESS TRACKING</button></a>
      <a href="" class="button-link"><button>CLASS ANNOUNCEMENTS</button></a>
    </div>
  </div>
</body>
</html>
